## Calculate the finished directory
method.insert = d.get_finished_dir, simple, "if=(d.is_multi_file),(cat, (cfg.download), Downloads/Ready/, (d.custom1)),(cat, (cfg.download), Downloads/Ready/, (d.custom1), /)"
## Link the file to the finished directory
method.insert = d.link_to_complete, simple, "execute=mkdir,-p,$argument.1=; execute=cp,-rpl,$argument.0=,$argument.1="
## Finish function
method.insert = d.link_complete, simple, "d.link_to_complete=$d.data_path=,$d.get_finished_dir="
## Register the finish function to the finished event
method.set_key = event.download.finished,link_complete,"d.link_complete="
